.blog{
    width: 80%;
    margin: auto;
    margin-top: 8rem;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    flex-wrap: wrap;
    margin-bottom: 20rem;
    flex-direction: column;
}