.singleBlog {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.sigleContainer {
    width: 50%;
    margin: auto;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.blog-title {
    font-size: 2.5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.userData {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.mainImage {
    text-align: center;
    margin-top: 3rem;
}

.profile-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.video-bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.channel-icon {
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.video-details {
    display: flex;
    flex-direction: column;
}

.video-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .2rem;
    text-decoration: none;
    color: black;
}

.video-channel-name {
    /* margin-bottom: .1rem; */
    text-decoration: none;
    color: #555;
    transition: color 150ms;
}

.video-channel-name:hover {
    color: #111;
}

.video-metadata {
    color: #555;
    font-size: 0.8rem;
}
.content {
    margin-top: 3rem;
}

.content p {
    margin-top: 1rem;
}

.content h2 {
    margin-top: 1rem;
}

.content pre {
    margin-top: 1rem;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding : 1rem 0px;
}


.conclusion h2 {
    margin-top: 1rem;
}
.conclusion p{
    margin-top: 1rem;
}