.blog-form {
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    
}
.heading{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    text-decoration: underline;
}

.form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border-radius: 1rem;
    gap: 2rem;
    font-size: 1.5rem;
    /* box-shadow: 10px 10px 28px 4px rgba(0,0,0,0.44); */
    margin-bottom: 30rem;
}

#title {
    height: 3rem;
    padding: 0px 1rem;
    background-color: #efe3e3;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    /* box-shadow: 10px 10px 28px 4px rgba(0,0,0,0.44); */
}
#summary {
    height: 8rem;
    padding: 1rem 1rem;
    background-color: #efe3e3;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    /* box-shadow: 10px 10px 28px 4px rgba(0,0,0,0.44); */
}
#editor {
    padding: 1rem 1rem;
    background-color: #efe3e3;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    /* box-shadow: 10px 10px 28px 4px rgba(0,0,0,0.44); */
}
.bg-transprent{
    background-color: transparent;
    margin-bottom: 1rem;
}

#conclusion {
    height: 4rem;
    padding: 1rem 1rem;
    background-color: #efe3e3;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    /* box-shadow: 10px 10px 28px 4px rgba(0,0,0,0.44); */
}
.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
   
    width: 30rem;
    text-align: center;
    padding: 1rem 1rem;
    background-color: #6591f8;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    /* box-shadow: 10px 10px 28px 4px rgba(0,0,0,0.44); */
}

@media only screen and (max-width: 431px) {
    .form {
        padding: 1rem;
    }
}